h2{
    text-align: center;
}
body{
    width:100%;
    height:100vh;
    background-image: linear-gradient();
    
}
section{
    width: 100%;
    margin-top: 18%;
    justify-content:center;
    text-align: center;
    margin-top: 40;
}

.div1{
    margin-top: 20px;
}


#bt1  {
    margin-right: 8px;
    color:black;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 1rem;

}
#bt2 {
  
    color:black;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 1rem;


}